%section.invite.container
  .row
    .span10.offset1
      = bootstrap_form_for(@invitation, html: { class: "invitate"}) do |f|
        %header
          %h1 Invite a friend to join MyFlix!
        %fieldset
          = f.alert_message "Please fix the errors below."
          = f.text_field :friend_full_name, label: "Friend's Name"
          = f.email_field :friend_email, label: "Friend's Email Address"
          = f.text_area :message, placeholder: "Please join this really cool site!", label: "Invitation Message", rows: 6, class: "span4"
          = f.secondary 'Send Invitation'